::-moz-selection
	background: $yellow-light
	color: $grey
	text-shadow: none

::selection
	background: $yellow-light
	color: $grey
	text-shadow: none

*
	box-sizing: border-box

body
	background-color: white
	color: black

.wrapper
	width: 100%
	margin: 0 auto

.container
	width: $width-total
	margin: 0 auto

header
	width: 100%
	background-color: $red
	box-shadow-mixin(lighten(black, 50%), 0, 3px, 10px)
	padding: 0 0 15px 0

.main
	margin: 0 auto 20px auto

section
	width: 49.5%
	display: inline-block
	padding: 0
	vertical-align: top

footer
	width: 100%
	background-color: $yellow-light
	display: block
	padding: 15px 0
	margin: 1rem 0
	p
		color: $blue
		text-align: center
		margin: 0 auto
		width: 80%
		font-size: 1.5rem
		position: relative
		overflow: visible
		a
			text-decoration: underline
			&:link, &:visited
				color: $blue
			&:hover, &:active
				color: $red-light
