node_modules/*
public/js/vendor/*

public/js/script.js
public/css/style.css
cache.json
events.json
run.debug.sh

.env
.sass-cache
*.swp
*.log

coverage.html

test/fixtures/blacklistEvents2future.json
.openshift/cron/hourly/*.sh
