node_modules/*

public/js/vendor/*
!public/js/vendor/auth0-widget.js
public/js/vendor/auth0-widget.js/*
!public/js/vendor/auth0-widget.js/build
public/js/vendor/auth0-widget.js/build/auth0-widget.js

public/css/style.css
cache.json
events.json
run.debug.sh
private.json
encrypt.sh
spinuprhcinstance.sh

.env
.sass-cache
*.swp
*.log

coverage.html

test/fixtures/blacklistEvents2future.json
