include ./layout/head.pug
body
  //if lt IE 9
    p.chromeframe Your browser is <em>ancient!</em> <a href='http://browsehappy.com/'>Upgrade to a cool new browser</a> to experience this site!
  div.wrapper
    include ./layout/header.pug
    .main.container
      br
      h3 About

      p.body We Build SG curates the local grassroots ground-up community of <strong>engineers, designers and makers</strong> in Singapore.

      p.body Any technology community in a city or region consists of <strong>four pillars</strong>: (1) educational and research institutes (2) government and military (3) industry and startups (4) grassroots and voluntary organisations. We Build SG collects and gathers the activities of the 4th pillar which is also made up of people coming from the other 3 pillars of technology. We specifically collect activities on <strong>open events</strong> and <strong>open source</strong>.

      p.body We curate, collect and gather information about the community in 4 ways: (1) automatically list open event and open source updates on <a href="https://webuild.sg">We Build SG Main</a> website (2) visualise the data collected through charts, graphs and maps on <a href="https://data.webuild.sg">We Build SG Data</a> (3) interview engineers, designers and makers through a live internet podcast with <a href="https://live.webuild.sg">We Build SG Live</a> (4) collate a list of useful tips for organising meetups, attending technical conferences and contributing to open source with <a href="https://notes.webuild.sg">We Build SG Notes</a>.

    include ./layout/footer.pug

  script(src='public/js/script.js')
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-37308530-1', 'auto');
      ga('send', 'pageview');
