include ./layout/head.pug
body
  //if lt IE 9
    p.chromeframe Your browser is <em>ancient!</em> <a href='http://browsehappy.com/'>Upgrade to a cool new browser</a> to experience this site!
  div.wrapper
    include ./layout/header.pug
    .main.container
      section
        ul.open-list
          li.apps
            a(href="https://play.google.com/store/apps/details?id=com.trinitystudio.webuildsg")
              .apps-left
                img(src="/public/img/android.png")
              .apps-right
                p Android app
                p.tagline Get the latest events / repos on mobile
                button.apps-cta Download
          li.apps
            a(href="https://webuild.sg/cal")
              .apps-left
                img(src="/public/img/gcal.png")
              .apps-right
                p Calendar subscription gCal or iCal
                p.tagline Add calendar url https://webuild.sg/cal
                button.apps-cta Subscribe
          li.apps
            a(href="https://github.com/webuildsg/osx/releases")
              .apps-left
                img(src="/public/img/el-capitan.png")
              .apps-right
                p Mac desktop app
                p.tagline Add a tiny menubar app
                button.apps-cta Download
                
      section
        ul.open-list.second
          li.apps
            a(href="https://itunes.apple.com/us/app/we-build-sg/id1089421487")
              .apps-left
                img(src="/public/img/iOS.png", style="padding:1em 0;")
              .apps-right
                p iPhone / iPad app
                p.tagline Get the latest events / repos on mobile
                button.apps-cta Download
          li.apps
            a(href="https://www.facebook.com/webuildsg/messages")
              .apps-left
                img(src="/public/img/fbchat.png")
              .apps-right
                p Facebook Chat bot
                p.tagline Ask for "upcoming events"
                button.apps-cta Connect via Messenger
          li.apps
            a(href="https://open.blockspring.com/cheeaun/webuildsg-slack")
              .apps-left
                img(src="/public/img/slack.png")
              .apps-right
                p Slack bot with Blockspring
                p.tagline Add a trigger word "webuild" for your chat
                button.apps-cta Add to Slack
          
          
                

  
