!!! 5
html(lang='en')

  head
    meta(charset='utf-8')
    title We Build | open events & open source for the curious folks
    meta(name='description', content='a list of free open events and open source libraries for the curious folks who love to make things!')

    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(href='http://fonts.googleapis.com/css?family=Peralta|Open+Sans', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='public/css/style.css')

    //- Gridline for dev environment
    //- link(rel='stylesheet', href='public/css/hugrid.css')

  body

    //if lt IE 9
      p.chromeframe Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a cool new browser</a> to experience this site!

    div.wrapper
      header
        .container
          h1 we build!
          h2 Exploring the tech scene in Singapore? Connect with people who are&nbsp;
            ul.people
              li ...
              li designers
              li developers
              li makers
      .main.container
        section
          h3 open events
          ul.open-list.first
            li
              a(href='http://www.meetup.com/Software-Craftsmanship-Singapore/events/92589082/')
                p 7 Databases in 7 weeks
                  span on 2 Jan
                p.tagline Riak day 1
            li
              a(href='http://www.meetup.com/HTML5Rocks-SG/events/93216432/')
                p HTML5 Series - Chapter 1
                  span on 4 Jan
                p.tagline HTML5 audio & video, WebRTC, Camera API
            li
              a(href='http://www.meetup.com/Singapore-Ruby-Group/events/94023812/')
                p Singapore Ruby Group
                  span on 8 Jan
                p.tagline Spelunking your Credit Card
            li
              a(href='https://www.facebook.com/events/495277747161799/')
                p iOS Dev Scout Jan Meetup
                  span on 15 Jan
                p.tagline iOS
            li
              a(href='http://www.meetup.com/makermeetup/Singapore-SG/832532/')
                p Singapore Makers Meetup
                  span on 17 Jan
                p.tagline Makerspace, Mini Maker Faire, 3D printing with Shapifi, giant cardboard sculptures, Playlab.me building heartware
            li
              a(href='http://www.meetup.com/HTML5Rocks-SG/events/93217852/')
                p HTML5 Series - Chapter 2
                  span on 18 Jan
                p.tagline Online & Offline events, Offline resources, IndexDB, DOM & Local Storage
            li
              a(href='http://www.meetup.com/HTML5Rocks-SG/events/93219302/')
                p HTML5 Series - Chapter 3
                  span on 1 Feb
                p.tagline Web Sockets, What if the server want to push events
            li
              a(href='http://www.meetup.com/HTML5Rocks-SG/events/93220782/')
                p HTML5 Series - Chapter 4
                  span on 15 Feb
                p.tagline Web workers, XMLHttpRequest, History API, Focus Management for the nerds


        section
          h3 open source
          ul.open-list
            li
              a(href='https://github.com/miccheng/php-queue')
                p Php Queue
                  span updated 1 day ago
                p.tagline A unified front-end for different queuing backends
            li
              a(href='https://github.com/honcheng/PaperFold-for-iOS')
                p PaperFold for iOS
                  span updated 3 days ago
                p.tagline Paper folding animation for iOS
            li
              a(href='https://github.com/MugunthKumar/MKNetworkKit')
                p MKNetworkKit
                  span updated 4 days ago
                p.tagline Full ARC based Networking Kit for iOS 4+ devices
            li
              a(href='https://github.com/cheeaun/hackerweb')
                p Hacker Web
                  span updated 16 days ago
                p.tagline A simply readable Hacker News web app
            li
              a(href='https://github.com/MugunthKumar/MKStoreKit')
                p MKStoreKit
                  span updated 1 month ago
                p.tagline In-App Purchases StoreKit for iOS devices
            li
              a(href='https://github.com/zz85/sparks.js')
                p Sparks
                  span updated 2 months ago
                p.tagline a lightweight 3d particle engine in javascript
            li
              a(href='https://github.com/uzyn/opauth')
                p opAuth
                  span updated 2 months ago
                p.tagline Multi-provider authentication framework for PHP
            li
              a(href='https://github.com/hboon/GlassButtons')
                p GlassButtons
                  span updated 3 months ago
                p.tagline Glass buttons for iPhone apps
            li
              a(href='https://github.com/Luracast/Restler')
                p Restler
                  span updated 3 months ago
                p.tagline Simple and effective multi-format Web API Server
            li
              a(href='http://www.sketchkit.com/')
                p Sketch Kit Wireframes
                  span updated 3 months ago
                p.tagline Create quick iPhone app wireframes in Keynote
            li
              a(href='https://github.com/petejkim/specta')
                p Specta
                  span updated 3 months ago
                p.tagline A light-weight TDD / BDD framework for Objective-C & Cocoa

        p.explain a list of free open events and open source libraries for the curious folks who love to make things!
      footer
        .container
          :markdown
            Checkout more cool events and people in startup, arts and tech with
            [thelist.sg](http://thelist.sg/),
            [connections.sg](http://connections.sg/),
            [hackerspace calendar](http://hackerspace.sg/calendar/hackerspacesg-events/) and
            [sge calendar](http://sge.io/calendar/)
      a(href='http://sayan.ee').credit handmade by sayanee

    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script(src='//raw.github.com/davatron5000/FitText.js/master/jquery.fittext.js')
    script
      $(document).ready(function() {
        $("h1").fitText(0.6);
      });

    //- Gridline for dev environment
    //- script(src='//raw.github.com/simanek/Heads-Up-Grid/master/headsupgrid/hugrid.js')

    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37308530-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

