//
  |        __         ____         ____     ____                     __               __                         ____
  |       / /_  ___  / / /___     / __/__  / / /___ _      __   ____/ /__ _   _____  / /___  ____  ___  _____   / / /
  |      / __ \/ _ \/ / / __ \   / /_/ _ \/ / / __ \ | /| / /  / __  / _ \ | / / _ \/ / __ \/ __ \/ _ \/ ___/  / / /
  |     / / / /  __/ / / /_/ /  / __/  __/ / / /_/ / |/ |/ /  / /_/ /  __/ |/ /  __/ / /_/ / /_/ /  __/ /     /_/_/
  |    /_/ /_/\___/_/_/\____/  /_/  \___/_/_/\____/|__/|__/   \__,_/\___/|___/\___/_/\____/ .___/\___/_/     (_|_)
  |                                                                                      /_/
  |

!!! 5
html(lang='en')

  head
    meta(charset='utf-8')

    title We Build SG
    meta(name='description', content='a list of free open events and open source libraries for the curious folks who love to make things!')
    meta(name='keywords', content='Singapore, SG, open community, open source, software, hardware, programming, design, maker movement, free events, free tech events')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    meta(property='og:image', content='public/logo.png')
    meta(property='og:url', content='http://www.webuild.sg')
    meta(property='og:site_name', content='www.webuild.sg')
    meta(property='og:title', content='We Build SG')
    meta(property='og:description', content='a list of free open events and open source libraries for the curious folks who love to make things!')
    meta(property='og:type', content='website')

    link(href='http://fonts.googleapis.com/css?family=Vollkorn:400,700|Open+Sans', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='public/css/style.css')

    link(rel='apple-touch-icon', href='public/apple-touch-icon.png')
    link(rel='apple-touch-icon', sizes='72x72', href='public/apple-touch-icon-72x72-precomposed.png')
    link(rel='apple-touch-icon', sizes='114x114', href='public/apple-touch-icon-114x114-precomposed.png')
    link(rel='apple-touch-icon', sizes='144x144', href='public/apple-touch-icon-144x144-precomposed.png')

    script(type='text/javascript', src='public/js/require.js', data-main='public/js/config')

    //- Gridline for dev environment
    //- link(rel='stylesheet', href='public/css/hugrid.css')

  body

    //if lt IE 9
      p.chromeframe Your browser is <em>ancient!</em> <a href='http://browsehappy.com/'>Upgrade to a cool new browser</a> to experience this site!

    div.wrapper
      header
        .container
          h1 we build!
          h2 Exploring the tech scene in Singapore? Connect with people who are&nbsp;
            ul.people
              li ...
              li designers
              li developers
              li makers
      .main.container

        section
          h3 open events
          ul.open-list.first
            //- li
            //-   a(href='https://www.facebook.com/events/535254489832316/')
            //-     p Creative Crew January Meetup
            //-       span on 8 Jan
            //-     p.tagline Audio editing with Audacity, Tips & Tricks with Photoshop, Night Sky Photography
            //- li
            //-   a(href='http://www.meetup.com/Singapore-Ruby-Group/events/94023812/')
            //-     p Singapore Ruby Group
            //-       span on 8 Jan
            //-     p.tagline Spelunking your Credit Card
            li
              a(href='https://www.facebook.com/events/531416000216739')
                p DestrActions 2013-01 SG
                  span on 15 Jan
                p.tagline New year, new venue, 2 new challenges!
            li
              a(href='https://www.facebook.com/events/495277747161799/')
                p iOS Dev Scout Jan Meetup
                  span on 15 Jan
                p.tagline Useful Non-Apple Frameworks, Interviews by Mobile Startups
            li
              a(href='https://www.facebook.com/events/102538316589122/')
                p FWUG Meetup #1
                  span on 16 Jan
                p.tagline Adobe Fireworks, Extensions, Workflow
            li
              a(href='http://www.meetup.com/makermeetup/Singapore-SG/832532/')
                p Singapore Makers Meetup
                  span on 17 Jan
                p.tagline Makerspace, Mini Maker Faire, 3D printing with Shapifi, giant cardboard sculptures, Playlab.me building heartware
            li
              a(href='http://www.meetup.com/HTML5Rocks-SG/events/93216432/')
                p HTML5 Series - Chapter 1
                  span on 18 Jan
                p.tagline HTML5 audio & video, WebRTC, Camera API
            li
              a(href='https://www.facebook.com/events/387625811327260')
                p Frontend Developers User group Meetup
                  span on 21 Jan
                p.tagline TypeScript, Backbone.js, Source Maps, Startup Academy
            li
              a(href='http://ccsg-workshop0113.eventbrite.com/')
                p Mobile Photography Workshop
                  span on 26 Jan
                p.tagline Flickr, Mobile Photo, Camera, Composition, Evernote, Creative Commons
            li
              a(href='http://www.meetup.com/HTML5Rocks-SG/events/93217852/')
                p HTML5 Series - Chapter 2
                  span on 1 Feb
                p.tagline Online & Offline events, Offline resources, IndexDB, DOM & Local Storage
            li
              a(href='http://www.meetup.com/HTML5Rocks-SG/events/93219302/')
                p HTML5 Series - Chapter 3
                  span on 15 Feb
                p.tagline Web Sockets, What if the server want to push events
        section
          h3 open source
          ul.open-list.second
            - for (var i = 0; i < 14; ++i) {
              li
            - }

        p.explain a list of free public events and open source projects for the curious folks who love to make things!
      footer
        .container
          :markdown
            Checkout more cool events and people in startup, arts and tech with
            [thelist.sg](http://thelist.sg/),
            [connections.sg](http://connections.sg/),
            [hackerspace calendar](http://hackerspace.sg/calendar/hackerspacesg-events/) and
            [sge calendar](http://sge.io/calendar/)
      a(href='http://sayan.ee').credit handmade by sayanee

    //- Gridline for dev environment
    //- script(src='//raw.github.com/simanek/Heads-Up-Grid/master/headsupgrid/hugrid.js')

    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37308530-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();