//
  |        __         ____         ____     ____                     __               __                         ____
  |       / /_  ___  / / /___     / __/__  / / /___ _      __   ____/ /__ _   _____  / /___  ____  ___  _____   / / /
  |      / __ \/ _ \/ / / __ \   / /_/ _ \/ / / __ \ | /| / /  / __  / _ \ | / / _ \/ / __ \/ __ \/ _ \/ ___/  / / /
  |     / / / /  __/ / / /_/ /  / __/  __/ / / /_/ / |/ |/ /  / /_/ /  __/ |/ /  __/ / /_/ / /_/ /  __/ /     /_/_/
  |    /_/ /_/\___/_/_/\____/  /_/  \___/_/_/\____/|__/|__/   \__,_/\___/|___/\___/_/\____/ .___/\___/_/     (_|_)
  |                                                                                      /_/
  //- |

!!! 5
html(lang='en')

  head
    meta(charset='utf-8')

    title We Build SG
    meta(name='description', content='a list of free open events and open source libraries for the curious folks who love to make things!')
    meta(name='keywords', content='Singapore, SG, open community, open source, software, hardware, programming, design, maker movement, free events, free tech events')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    meta(property='og:image', content='public/logo.png')
    meta(property='og:url', content='http://www.webuild.sg')
    meta(property='og:site_name', content='www.webuild.sg')
    meta(property='og:title', content='We Build SG')
    meta(property='og:description', content='a list of free open events and open source libraries for the curious folks who love to make things!')
    meta(property='og:type', content='website')

    link(href='http://fonts.googleapis.com/css?family=Vollkorn:400,700|Open+Sans', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='public/css/style.css')

    link(rel='apple-touch-icon', href='public/apple-touch-icon.png')
    link(rel='apple-touch-icon', sizes='72x72', href='public/apple-touch-icon-72x72-precomposed.png')
    link(rel='apple-touch-icon', sizes='114x114', href='public/apple-touch-icon-114x114-precomposed.png')
    link(rel='apple-touch-icon', sizes='144x144', href='public/apple-touch-icon-144x144-precomposed.png')

    script(type='text/javascript', src='public/js/require.js', data-main='public/js/config')

    //- Gridline for dev environment
    //- link(rel='stylesheet', href='public/css/hugrid.css')

  body

    //if lt IE 9
      p.chromeframe Your browser is <em>ancient!</em> <a href='http://browsehappy.com/'>Upgrade to a cool new browser</a> to experience this site!

    div.wrapper
      header
        .container
          h1 we build!
          h2 Exploring the tech scene in Singapore? Connect with people who are&nbsp;
            ul.people
              li ...
              li designers
              li developers
              li makers
      .main.container

        section
          h3 open events
          ul.open-list.first
            li
              a(href='http://www.eventbrite.com/event/6587512427')
                p Camera Raw Workshop
                  span on 18 May
                p.tagline by Creative Crew Singapore
            li
              a(href='http://www.creativedge.com.sg/preview/cxa2013/edm/')
                p code::XtremeApps:: 2013 Competition Launch
                  span on 20 May
                p.tagline by code::XtremeApps
            li
              a(href='https://www.facebook.com/events/191484481001082/')
                p iOS Dev Scout # May Meetup
                  span on 20 May
                p.tagline by iOS Dev Scout
            li
              a(href='https://www.facebook.com/events/263705100440913/')
                p Singapore Node.JS User Group May Meetup
                  span on 21 May
                p.tagline by Singapore Node.JS User Group
            li
              a(href='https://www.facebook.com/events/389499624498369')
                p Singapore PHP User Group Meetup (May 2013)
                  span on 28 May
                p.tagline by  Singapore PHP User Group
            li
              a(href='http://www.meetup.com/HTML5Rocks-SG/events/93221982/')
                p HTML5 Series - Chapter 6: ... so tricky details !
                  span on 29 May
                p.tagline by HTML5Rocks@SG
            li
              a(href='https://www.facebook.com/events/531996526842101/')
                p SG Makers Movement Meetup
                  span on 30 May
                p.tagline by SG Makers Movement
            li
              a(href='http://www.meetup.com/R-User-Group-SG/events/118128802/')
                p Producing repetitive reports/dashboards using R
                  span on 5 Jun
                p.tagline by R User Group - Singapore (RUGS)
            li
              a(href='http://www.meetup.com/HTML5Rocks-SG/events/93222582/')
                p HTML5 Series - Chapter 7: Oh so precious Device !
                  span on 7 Jun
                p.tagline by HTML5Rocks@SG

        section
          h3 open source
          ul.open-list.second
            - for (var i = 0; i < 14; ++i) {
              li
            - }

        p.explain a list of free public events and open source projects for the curious folks who love to make things!
      footer
        .container
          :markdown
            Checkout more cool events and people in startup, arts and tech with
            [thelist.sg](http://thelist.sg/),
            [connections.sg](http://connections.sg/),
            [hackerspace calendar](http://hackerspace.sg/calendar/hackerspacesg-events/) and
            [sge calendar](http://sge.io/calendar/)
      a(href='http://sayan.ee').credit handmade by sayanee

    //- Gridline for dev environment
    //- script(src='//raw.github.com/simanek/Heads-Up-Grid/master/headsupgrid/hugrid.js')
    //- script
    //-   definegrid = function() {
    //-     var browserWidth = $(window).width();
    //-     if (browserWidth >= 1001)
    //-     {
    //-       pageUnits = 'px';
    //-       colUnits = 'px';
    //-       pagewidth = 960;
    //-       columns = 6;
    //-       columnwidth = 140;
    //-       gutterwidth = 24;
    //-       pagetopmargin = 35;
    //-       rowheight = 20;
    //-       gridonload = 'off';
    //-       makehugrid();
    //-     }
    //-     if (browserWidth <= 1000)
    //-     {
    //-       pageUnits = '%';
    //-       colUnits = '%';
    //-       pagewidth = 94;
    //-       columns = 2;
    //-       columnwidth = 48;
    //-       gutterwidth = 4;
    //-       pagetopmargin = 35;
    //-       rowheight = 20;
    //-       gridonload = 'off';
    //-       makehugrid();
    //-     }
    //-     if (browserWidth <= 768)
    //-     {
    //-       pageUnits = '%';
    //-       colUnits = '%';
    //-       pagewidth = 96;
    //-       columns = 2;
    //-       columnwidth = 49;
    //-       gutterwidth = 2;
    //-       pagetopmargin = 35;
    //-       rowheight = 20;
    //-       gridonload = 'off';
    //-       makehugrid();
    //-     }
    //-   }
    //-   $(document).ready(function() {
    //-     definegrid();
    //-     setgridonload();
    //-   });

    //-   $(window).resize(function() {
    //-     definegrid();
    //-     setgridonresize();
    //-   });

    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37308530-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
