//
  |        __         ____         ____     ____                     __               __                         ____
  |       / /_  ___  / / /___     / __/__  / / /___ _      __   ____/ /__ _   _____  / /___  ____  ___  _____   / / /
  |      / __ \/ _ \/ / / __ \   / /_/ _ \/ / / __ \ | /| / /  / __  / _ \ | / / _ \/ / __ \/ __ \/ _ \/ ___/  / / /
  |     / / / /  __/ / / /_/ /  / __/  __/ / / /_/ / |/ |/ /  / /_/ /  __/ |/ /  __/ / /_/ / /_/ /  __/ /     /_/_/
  |    /_/ /_/\___/_/_/\____/  /_/  \___/_/_/\____/|__/|__/   \__,_/\___/|___/\___/_/\____/ .___/\___/_/     (_|_)
  |                                                                                      /_/
  //- |

doctype
html(lang='en')

  head
    meta(charset='utf-8')

    title We Build SG
    meta(name='description', content='a list of free open events and open source libraries for the curious folks who love to make things!')
    meta(name='keywords', content='Singapore, SG, open community, open source, software, hardware, programming, design, maker movement, free events, free tech events')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    meta(property='og:image', content='public/logo.png')
    meta(property='og:url', content='http://www.webuild.sg')
    meta(property='og:site_name', content='www.webuild.sg')
    meta(property='og:title', content='We Build SG')
    meta(property='og:description', content='a list of free open events and open source libraries for the curious folks who love to make things!')
    meta(property='og:type', content='website')

    link(href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='public/css/style.css')

    link(rel='apple-touch-icon', href='public/apple-touch-icon.png')
    link(rel='apple-touch-icon', sizes='72x72', href='public/apple-touch-icon-72x72-precomposed.png')
    link(rel='apple-touch-icon', sizes='114x114', href='public/apple-touch-icon-114x114-precomposed.png')
    link(rel='apple-touch-icon', sizes='144x144', href='public/apple-touch-icon-144x144-precomposed.png')

    script(type='text/javascript', src='public/js/require.js', data-main='public/js/config')

  body

    //if lt IE 9
      p.chromeframe Your browser is <em>ancient!</em> <a href='http://browsehappy.com/'>Upgrade to a cool new browser</a> to experience this site!

    div.wrapper
      header
        .container
          h1 we build!
          h2 Exploring the tech scene in Singapore? Connect with people who are&nbsp;
            ul.people
              li ...
              li designers
              li developers
              li makers
      .main.container

        div.live
          h3 Catch We Build SG LIVE
          p.countdown
          p#livetime

        section
          h3 open events
          ul.open-list.first

            li
              a(href='https://www.facebook.com/events/1546832788875202')
                p Singapore PHP Meetup (March 2014)
                  span on 25 Mar, Tue
                p.tagline by Singapore PHP User Group
            li
              a(href='http://www.meetup.com/IxDA-Singapore/events/171668572/')
                p IxD Session: Wireframes considered harmful
                  span on 26 Mar, Wed
                p.tagline by IxDA Singapore
            li
              a(href='https://www.facebook.com/events/589663611127215')
                p Wearables and Internet of Things YaLong Evening
                  span on 27 Mar, Thu
                p.tagline by The Co-Foundry
            li
              a(href='http://www.meetup.com/NodeBotsSingapore/events/167057592/')
                p Demos & Meetup
                  span on 27 Mar, Thu
                p.tagline by NodeBots Singapore
            li
              a(href='http://www.meetup.com/Meteor-Singapore/events/171937132/')
                p SG Meteorites 0.3
                  span on 27 Mar, Thu
                p.tagline by Meteor Singapore
            li
              a(href='https://www.facebook.com/events/317063965085497')
                p So, you want to build a Bluetooth Heartrate Monitor or iBeacon App? By @Mugunth
                  span on 28 Mar, Fri
                p.tagline by Hackers and Painters
            li
              a(href='http://www.meetup.com/DataScience-SG-Singapore/events/170449392/')
                p MOOC Study Group @ Data Science SG
                  span on 29 Mar, Sat
                p.tagline by DataScience SG
            li
              a(href='http://www.meetup.com/Agile-Singapore/events/168931192/')
                p Coding Dojo: Legacy Code (C# and Java)
                  span on 2 Apr, Wed
                p.tagline by Agile Singapore
            li
              a(href='http://www.meetup.com/Singapore-Android-Developers/events/171009392/')
                p Arpil 2014 Meetup
                  span on 2 Apr, Wed
                p.tagline by Singapore Android Developers
            li
              a(href='http://www.meetup.com/AWS-SG/events/171179052/')
                p April Meetup
                  span on 10 Apr, Thu
                p.tagline by AWS User Group Singapore
            li
              a(href='http://www.meetup.com/PUGS-Postgres-Users-Group-Singapore/events/172519482/')
                p PUGS April Meetup
                  span on 16 Apr, Wed
                p.tagline by PUGS (Postgres Users Group Singapore)

        section
          h3 open source
          ul.open-list.second
            - for (var i = 0; i < 14; ++i) {
              li
            - }

        p.explain a list of free public events and open source projects for the curious folks who love to make things!
      footer
        .container
          :markdown
            Checkout more cool events and people in startup, arts and tech with
            [thelist.sg](http://thelist.sg/),
            [connections.sg](http://connections.sg/),
            [hackerspace](http://hackerspace.sg/calendar/hackerspacesg-events/),
            [bHappening](http://bhappening.wordpress.com/) and
            [sge calendar](http://sge.io/calendar/)
      ul.social
        li
          a(href='https://twitter.com/intent/tweet?hashtags=webuildSGLive&original_referer=http%3A%2F%2Flive.webuild.sg%2F&text=@webuildsg&tw_p=tweetbutton')
            &#xe286;
        li
          a(href='http://www.facebook.com/webuildsg')
            &#xe227;
        li
          a(href='https://plus.google.com/115395182582724849094')
           &#xe239;
