//
  |        __         ____         ____     ____                     __               __                         ____
  |       / /_  ___  / / /___     / __/__  / / /___ _      __   ____/ /__ _   _____  / /___  ____  ___  _____   / / /
  |      / __ \/ _ \/ / / __ \   / /_/ _ \/ / / __ \ | /| / /  / __  / _ \ | / / _ \/ / __ \/ __ \/ _ \/ ___/  / / /
  |     / / / /  __/ / / /_/ /  / __/  __/ / / /_/ / |/ |/ /  / /_/ /  __/ |/ /  __/ / /_/ / /_/ /  __/ /     /_/_/
  |    /_/ /_/\___/_/_/\____/  /_/  \___/_/_/\____/|__/|__/   \__,_/\___/|___/\___/_/\____/ .___/\___/_/     (_|_)
  |                                                                                      /_/
  //- |

!!! 5
html(lang='en')

  head
    meta(charset='utf-8')

    title We Build SG
    meta(name='description', content='a list of free open events and open source libraries for the curious folks who love to make things!')
    meta(name='keywords', content='Singapore, SG, open community, open source, software, hardware, programming, design, maker movement, free events, free tech events')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    meta(property='og:image', content='public/logo.png')
    meta(property='og:url', content='http://www.webuild.sg')
    meta(property='og:site_name', content='www.webuild.sg')
    meta(property='og:title', content='We Build SG')
    meta(property='og:description', content='a list of free open events and open source libraries for the curious folks who love to make things!')
    meta(property='og:type', content='website')

    link(href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='public/css/style.css')

    link(rel='apple-touch-icon', href='public/apple-touch-icon.png')
    link(rel='apple-touch-icon', sizes='72x72', href='public/apple-touch-icon-72x72-precomposed.png')
    link(rel='apple-touch-icon', sizes='114x114', href='public/apple-touch-icon-114x114-precomposed.png')
    link(rel='apple-touch-icon', sizes='144x144', href='public/apple-touch-icon-144x144-precomposed.png')

    script(type='text/javascript', src='public/js/require.js', data-main='public/js/config')

  body

    //if lt IE 9
      p.chromeframe Your browser is <em>ancient!</em> <a href='http://browsehappy.com/'>Upgrade to a cool new browser</a> to experience this site!

    div.wrapper
      header
        .container
          h1 we build!
          h2 Exploring the tech scene in Singapore? Connect with people who are&nbsp;
            ul.people
              li ...
              li designers
              li developers
              li makers
      .main.container

        div.live
          h3 Catch We Build SG LIVE
          p.countdown
          p#livetime

        section
          h3 open events
          ul.open-list.first
            li
              a(href='https://www.facebook.com/events/572982409445154')
                p Creative Crew January Talk
                  span on 14 Jan, Tue
                p.tagline by Creative Crew
            li
              a(href='http://www.meetup.com/Software-Craftsmanship-Singapore/')
                p Mini-code-retreat
                  span on 14 Jan, Tue
                p.tagline by Software Craftsmanship Singapore
            li
              a(href='http://www.meetup.com/R-User-Group-SG/events/152347492/')
                p Credit Scoring with R
                  span on 15 Jan, Wed
                p.tagline by R User Group - Singapore (RUGS)
            li
              a(href='https://www.facebook.com/events/221206334719637')
                p How I got my website to top Google's search results with no budget
                  span on 17 Jan, Fri
                p.tagline by Hackers and Painters
            li
              a(href='https://www.facebook.com/events/367106803434860')
                p Engineering journalism: how one hack turned into a hacker to elevate his craft
                  span on 17 Jan, Fri
                p.tagline by Hackers and Painters
            li
              a(href='http://www.meetup.com/Singapore-Ruby-Group/events/158569682/')
                p January Meetup
                  span on 21 Jan, Tue
                p.tagline by Singapore Ruby Group
            li
              a(href='http://www.meetup.com/Singapore-Android-Developers/events/157970792/')
                p SG Android Developers January 2014
                  span on 22 Jan, Wed
                p.tagline by Singapore Android Developers
            li
              a(href='http://www.meetup.com/DataScience-SG-Singapore/events/158114672/')
                p [Free SMU Seminar] Big Data, New Physics, and Geospatial Super-Food
                  span on 23 Jan, Thu
                p.tagline by DataScience SG (Singapore)
            li
              a(href='https://www.facebook.com/events/256254204532131')
                p Computational Investing by @Stan
                  span on 24 Jan, Fri
                p.tagline by Hackers and Painters
            li
              a(href='http://www.meetup.com/DataScience-SG-Singapore/events/158721752/')
                p DataScience SG Meetup - "What is this Data Science thing all about?"
                  span on 25 Jan, Sat
                p.tagline by DataScience SG (Singapore)
            li
              a(href='http://www.meetup.com/Agile-Singapore/events/159779592/')
                p Coding Dojo: Legacy Code (C# and Java)
                  span on 28 Jan, Tue
                p.tagline by Agile Singapore
            li
              a(href='http://sg.hackandtell.org/')
                p Hack and Tell
                  span on 28 Jan, Tue
                p.tagline by Hack and Tell
            li
              a(href='https://www.facebook.com/events/131002393736955')
                p Why I switch from python to Go? by @Weng Wei
                  span on 7 Feb, Fri
                p.tagline by Hackers and Painters
            li
              a(href='https://www.facebook.com/events/189999471204741')
                p Meetup #1
                  span on 11 Feb, Tue
                p.tagline by MongoDB User Group

        section
          h3 open source
          ul.open-list.second
            - for (var i = 0; i < 14; ++i) {
              li
            - }

        p.explain a list of free public events and open source projects for the curious folks who love to make things!
      footer
        .container
          :markdown
            Checkout more cool events and people in startup, arts and tech with
            [thelist.sg](http://thelist.sg/),
            [connections.sg](http://connections.sg/),
            [hackerspace](http://hackerspace.sg/calendar/hackerspacesg-events/),
            [bHappening](http://bhappening.wordpress.com/) and
            [sge calendar](http://sge.io/calendar/)
      ul.social
        li
          a(href='https://twitter.com/intent/tweet?hashtags=webuildSGLive&original_referer=http%3A%2F%2Flive.webuild.sg%2F&text=@webuildsg&tw_p=tweetbutton')
            &#xe286;
        li
          a(href='http://www.facebook.com/webuildsg')
            &#xe227;
        li
          a(href='https://plus.google.com/115395182582724849094')
           &#xe239;

    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37308530-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
