//
  |        __         ____         ____     ____                     __               __                         ____
  |       / /_  ___  / / /___     / __/__  / / /___ _      __   ____/ /__ _   _____  / /___  ____  ___  _____   / / /
  |      / __ \/ _ \/ / / __ \   / /_/ _ \/ / / __ \ | /| / /  / __  / _ \ | / / _ \/ / __ \/ __ \/ _ \/ ___/  / / /
  |     / / / /  __/ / / /_/ /  / __/  __/ / / /_/ / |/ |/ /  / /_/ /  __/ |/ /  __/ / /_/ / /_/ /  __/ /     /_/_/
  |    /_/ /_/\___/_/_/\____/  /_/  \___/_/_/\____/|__/|__/   \__,_/\___/|___/\___/_/\____/ .___/\___/_/     (_|_)
  |                                                                                      /_/
  //- |

doctype
html(lang='en')

  head
    meta(charset='utf-8')

    title We Build SG
    meta(name='description', content='a list of free open events and open source libraries for the curious folks who love to make things!')
    meta(name='keywords', content='Singapore, SG, open community, open source, software, hardware, programming, design, maker movement, free events, free tech events')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    meta(property='og:image', content='public/logo.png')
    meta(property='og:url', content='http://www.webuild.sg')
    meta(property='og:site_name', content='www.webuild.sg')
    meta(property='og:title', content='We Build SG')
    meta(property='og:description', content='a list of free open events and open source libraries for the curious folks who love to make things!')
    meta(property='og:type', content='website')

    link(href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='public/css/style.css')

    link(rel='apple-touch-icon', href='public/apple-touch-icon.png')
    link(rel='apple-touch-icon', sizes='72x72', href='public/apple-touch-icon-72x72-precomposed.png')
    link(rel='apple-touch-icon', sizes='114x114', href='public/apple-touch-icon-114x114-precomposed.png')
    link(rel='apple-touch-icon', sizes='144x144', href='public/apple-touch-icon-144x144-precomposed.png')

    script(type='text/javascript', src='public/js/require.js', data-main='public/js/config')

  body

    //if lt IE 9
      p.chromeframe Your browser is <em>ancient!</em> <a href='http://browsehappy.com/'>Upgrade to a cool new browser</a> to experience this site!

    div.wrapper
      header
        .container
          h1 we build!
          h2 Exploring the tech scene in Singapore? Connect with people who are&nbsp;
            ul.people
              li ...
              li designers
              li developers
              li makers
      .main.container

        div.live
          h3 Catch We Build SG LIVE
          p.countdown
          p#livetime

        section
          h3 open events
          ul.open-list.first

            li
              a(href='https://www.facebook.com/events/1421654661427734')
                p Be a Maker: Lets make a carnival game
                  span on 3 May, Sat
                p.tagline by Singapore Mini Maker Faire
            li
              a(href='http://www.meetup.com/Bubbly-TechTalks/events/178751552/')
                p Scala and Reactive Programming Practice in Mobile Social Networks
                  span on 5 May, Mon
                p.tagline by Bubbly TechTalks
            li
              a(href='https://www.facebook.com/events/282376515263978')
                p iOS Dev Scout May Meetup
                  span on 5 May, Mon
                p.tagline by iOS DevScout
            li
              a(href='http://www.meetup.com/Singapore-Android-Developers/events/178965412/')
                p May Meetup + Startup Asia SG
                  span on 7 May, Wed
                p.tagline by Singapore Android Developers
            li
              a(href='https://www.facebook.com/events/263603767151991')
                p Programming Clojure: Why and How by @Omer Iqbal
                  span on 9 May, Fri
                p.tagline by Hackers and Painters
            li
              a(href='http://www.meetup.com/R-User-Group-SG/events/171103862/')
                p May Short Talks
                  span on 14 May, Wed
                p.tagline by R User Group - Singapore (RUGS)
            li
              a(href='http://www.meetup.com/DataScience-SG-Singapore/events/172525552/')
                p MOOC Study Group @ Data Science SG
                  span on 24 May, Sat
                p.tagline by DataScience SG
            li
              a(href='http://www.eventbrite.com/e/hack-night-shells-and-environments-tickets-6925068065')
                p Hack Night - Shells and Environments
                  span on 29 May, Thu
                p.tagline by Neo Singapore
            li
              a(href='http://www.meetup.com/DataScience-SG-Singapore/events/171899412/')
                p DataScience SG Meetup
                  span on 31 May, Sat
                p.tagline by DataScience SG
            li
              a(href='https://www.eventbrite.com/e/matt-mullenweg-live-tickets-3836477006')
                p Matt Mullenweg Live!
                  span on 4 Jun, Wed
                p.tagline by Singapore PHP Developers

        section
          h3 open source
          ul.open-list.second
            - for (var i = 0; i < 14; ++i) {
              li
            - }

        p.explain a list of free public events and open source projects for the curious folks who love to make things!
      footer
        .container
          :markdown
            Checkout more cool events and people in startup, arts and tech with
            [thelist.sg](http://thelist.sg/),
            [connections.sg](http://connections.sg/),
            [hackerspace](http://hackerspace.sg/calendar/hackerspacesg-events/),
            [bHappening](http://bhappening.wordpress.com/) and
            [sge calendar](http://sge.io/calendar/)
      ul.social
        li
          a(href='https://twitter.com/intent/tweet?hashtags=webuildSGLive&original_referer=http%3A%2F%2Flive.webuild.sg%2F&text=@webuildsg&tw_p=tweetbutton')
            &#xe286;
        li
          a(href='http://www.facebook.com/webuildsg')
            &#xe227;
        li
          a(href='https://plus.google.com/115395182582724849094')
           &#xe239;
