include ./layout/head.jade
body
  //if lt IE 9
    p.chromeframe Your browser is <em>ancient!</em> <a href='http://browsehappy.com/'>Upgrade to a cool new browser</a> to experience this site!
  div.wrapper
    .starter
      header
        .container
          h1 we build!
          .splash apps
          ul.list-social
            li 
              span.icon-feed 
              a(href="https://webuild.sg") main
            li 
              span.icon-music 
              a(href="https://live.webuild.sg") live
            li 
              span.icon-cal 
              a(href="https://data.webuild.sg") data
            li 
              span.icon-cc 
              a(href="https://notes.webuild.sg") notes
            li 
              span.icon-volume-medium
              a(href="https://api.webuild.sg") api
      .container 
        p.subtitle We have integrations with some external services too!
    .main.container    
      br  
      h3 Privacy Policy
      
      <p class="subtitle">Last updated: April 14, 2016</p>
      
      p.body We Build SG ("us", "we", or "our") operates the https://webuild.sg website (the "Service").
      
      p.body This page informs you of our policies regarding the collection, use and disclosure of Personal Information when you use our Service.
      
      p.body We will not use or share your information with anyone except as described in this Privacy Policy.
      
      p.body We do not use your Personal Information for providing and improving the Service. All data displayed on this website can be found publicly on Meetup.com, Github.com, Eventbrite.com and Facebook.com.
      
      p.body 
        strong Log Data
        
      p.body We collect information that your browser sends whenever you visit our Service ("Log Data"). This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of our Service that you visit, the time and date of your visit, the time spent on those pages and other statistics.
      
      p.body 
        strong Cookies
        
      p.body Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a web site and stored on your computer's hard drive.
      
      p.body We do not use "cookies" to collect information. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. 
      
      p.body
        strong Service Providers
      
      p.body We may employ third party companies and individuals to facilitate our Service, to provide the Service on our behalf, to perform Service-related services or to assist us in analyzing how our Service is used.
      
      p.body These third parties do not have access to your Personal Information.
      
      p.body 
        strong Security
        
      p.body
        
      p.body The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.
      
      p.body 
        strong Links To Other Sites
        
      p.body Our Service contain links to other sites that are not operated by us. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site you visit.
      
      p.body We have no control over, and assume no responsibility for the content, privacy policies or practices of any third party sites or services.
      
      p.body 
        strong Changes To This Privacy Policy
        
      p.body We may update our Privacy Policy from time to time. You can check back this page for the latest version.
      
      p.body You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.
      
      p.body 
        strong Contact Us
      
      p.body If you have any questions about this Privacy Policy, please contact us: webuildsg at gmail dot com.
