.chart {
  margin: 2em 0;
}

.column {
  fill: #228db7;
}

.column:hover {
  fill: #c11a18;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
