%display-inline
  display: inline-block
  vertical-align: top
  margin: 0 0 0 -4px

%spacing-zero
  padding: 0
  margin: 0
  list-style: none

@-webkit-keyframes cycleone
  0%
    opacity: 1
  25%
    opacity: 1 // fade out
    +translate(0, 0)
  29%
    opacity: 0
    +translate(0, -20px)
  96%
    opacity: 0 // fade in
    +translate(0, 0)
  100%
    opacity: 1

@-webkit-keyframes cycletwo
  0%
    opacity: 0
  21%
    opacity: 0 // fade in
  25%
    opacity: 1
  50%
    opacity: 1 // fade out
  54%
    opacity: 0
    +translate(0, -20px)
  100%
    opacity: 0

@-webkit-keyframes cyclethree
  0%
    opacity: 0
  46%
    opacity: 0 // fade in
  50%
    opacity: 1
  75%
    opacity: 1 // fade out
  79%
    opacity: 0
    +translate(0, -20px)
  100%
    opacity: 0

@-webkit-keyframes cyclefour
  0%
    opacity: 1 // fade out
  4%
    opacity: 0
  25%
    opacity: 0
  50%
    opacity: 0
  71%
    opacity: 0 // fade in
  75%
    opacity: 1
  100%
    opacity: 1

@mixin animation($name, $duration, $timing, $iteration)
  -webkit-animation: $name $duration $timing $iteration
  -ms-animation: $name $duration $timing $iteration
  -o-animation: $name $duration $timing $iteration
  -moz-animation: $name $duration $timing $iteration
  animation: $name $duration $timing $iteration