cycleone()
  0%
    opacity: 0
  1%
    opacity: 1
  24%
    opacity: 1
  25%
    opacity: 0
  100%
    opacity: 0

cycletwo()
  0%
    opacity: 0
  25%
    opacity: 0
  26%
    opacity: 1
  49%
    opacity: 1 // fade out
  50%
    opacity: 0
  100%
    opacity: 0

cyclethree()
  0%
    opacity: 0
  50%
    opacity: 0 // fade in
  51%
    opacity: 1
  74%
    opacity: 1 // fade out
  75%
    opacity: 0
  100%
    opacity: 0

cyclefour()
  0%
    opacity: 0 // fade out
  25%
    opacity: 0
  50%
    opacity: 0
  75%
    opacity: 0 // fade in
  76%
    opacity: 1
  99%
    opacity: 1
  100%
    opacity: 0

@-webkit-keyframes cycleone
  cycleone()

@-webkit-keyframes cycletwo
  cycletwo()

@-webkit-keyframes cyclethree
  cyclethree()

@-webkit-keyframes cyclefour
  cyclefour()

@-o-keyframes cycleone
  cycleone()

@-o-keyframes cycletwo
  cycletwo()

@-o-keyframes cyclethree
  cyclethree()

@-o-keyframes cyclefour
  cyclefour()

@-moz-keyframes cycleone
  cycleone()

@-moz-keyframes cycletwo
  cycletwo()

@-moz-keyframes cyclethree
  cyclethree()

@-moz-keyframes cyclefour
  cyclefour()

@keyframes cycleone
  cycleone()

@keyframes cycletwo
  cycletwo()

@keyframes cyclethree
  cyclethree()

@keyframes cyclefour
  cyclefour()

animation($name, $duration, $timing, $iteration)
  -webkit-animation: $name $duration $timing $iteration
  -o-animation: $name $duration $timing $iteration
  -moz-animation: $name $duration $timing $iteration
  animation: $name $duration $timing $iteration
