box-shadow-mixin($color, $xoffset, $yoffset, $blur)
  -webkit-box-shadow: $color $xoffset $yoffset $blur
  -moz-box-shadow: $color $xoffset $yoffset $blur
  box-shadow: $color $xoffset $yoffset $blur

border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  -ms-border-radius: $radius
  -o-border-radius: $radius
  border-radius: $radius
