footer
  .container
    <p>Checkout <a href="/about">what is We Build SG</a> and <a href="/faq">how the events and repositories are curated</a>!</p>

ul.social
  li
    a(href='https://twitter.com/webuildsg')
      span.footer-twitter
    p Twitter
  li
    a(href='http://www.facebook.com/webuildsg')
      span.footer-facebook
    p Facebook
  li
    a(href='https://github.com/webuildsg')
      span.footer-github
    p GitHub
  li
    a(href='https://webuild.sg/cal')
      span.footer-calendar
    p Calendar
  li
    a(href='https://feeds.feedburner.com/WeBuildLive')
      span.footer-rss
    p RSS
  li
    a(href='https://itunes.apple.com/us/podcast/we-build-sg-live/id713804010')
      span.footer-itunes
    p iTunes
