.starter
  header
    .container
      h1 we build!
      ul.list-social
        li 
          span.icon-feed 
          a(href="https://webuild.sg") main
        li 
          span.icon-volume-medium
          a(href="https://webuild.sg/apps") apps
        li 
          span.icon-music 
          a(href="https://live.webuild.sg") live
        li 
          span.icon-cal 
          a(href="https://data.webuild.sg") data
        li 
          span.icon-cc 
          a(href="https://notes.webuild.sg") notes
        li 
          span.icon-volume-medium
          a(href="https://api.webuild.sg") api
  .container 
    p.subtitle Exploring the tech scene in Singapore? Connect with designers, makers and engineers!
