head
  meta(charset='utf-8')

  title We Build SG
  meta(name='description', content='a list of free open events and open source libraries for the curious folks who love to make things!')
  meta(name='keywords', content='Singapore, SG, open community, open source, software, hardware, programming, design, maker movement, free events, free tech events')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
  link(rel='publisher', href='https://plus.google.com/+WebuildSg')
  meta(property='og:image', content='public/logo.png')
  meta(property='og:url', content='http://www.webuild.sg')
  meta(property='og:site_name', content='www.webuild.sg')
  meta(property='og:title', content='We Build SG')
  meta(property='og:description', content='a list of free open events and open source libraries for the curious folks who love to make things!')
  meta(property='og:type', content='website')

  link(href='//fonts.googleapis.com/css?family=Roboto+Slab:400,700', rel='stylesheet', type='text/css')
  link(rel='stylesheet', href='public/css/style.css')

  link(rel='apple-touch-icon', href='public/apple-touch-icon.png')
  link(rel='apple-touch-icon', sizes='72x72', href='public/apple-touch-icon-72x72-precomposed.png')
  link(rel='apple-touch-icon', sizes='114x114', href='public/apple-touch-icon-114x114-precomposed.png')
  link(rel='apple-touch-icon', sizes='144x144', href='public/apple-touch-icon-144x144-precomposed.png')

  script.
    window.heap=window.heap||[],heap.load=function(t,e){window.heap.appid=t,window.heap.config=e;var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+t+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(t){return function(){heap.push([t].concat(Array.prototype.slice.call(arguments,0)))}},p=["clearEventProperties","identify","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
    heap.load("1655773867");
