head
  meta(charset='utf-8')

  title We Build SG
  meta(name='description', content='a list of free open events and open source libraries for the curious folks who love to make things!')
  meta(name='keywords', content='Singapore, SG, open community, open source, software, hardware, programming, design, maker movement, free events, free tech events')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
  link(rel='publisher', href='https://plus.google.com/+WebuildSg')
  meta(property='og:image', content='https://assets.webuild.sg/logo.png')
  meta(property='og:url', content='http://www.webuild.sg')
  meta(property='og:site_name', content='www.webuild.sg')
  meta(property='og:title', content='We Build SG')
  meta(property='og:description', content='a list of free open events and open source libraries for the curious folks who love to make things!')
  meta(property='og:type', content='website')

  link(rel='stylesheet', href='https://assets.webuild.sg/css/style.css')
  link(rel='icon', href='https://assets.webuild.sg/favicon.ico', type='image/x-icon')
  link(rel='apple-touch-icon', href='https://assets.webuild.sg/apple-touch-icon.png')
  link(rel='apple-touch-icon', sizes='72x72', href='https://assets.webuild.sg/apple-touch-icon-72x72-precomposed.png')
  link(rel='apple-touch-icon', sizes='114x114', href='https://assets.webuild.sg/apple-touch-icon-114x114-precomposed.png')
  link(rel='apple-touch-icon', sizes='144x144', href='https://assets.webuild.sg/apple-touch-icon-144x144-precomposed.png')
